<% layout('layouts/boilerplate')%>

<%- include('../../partials/navbarBlack')%>

<%- include('../../partials/sideNavbarBlack')%>



<div class="custom--review_order shadow">
        <h3>Custom <%=(custom.variant.title).split(" / ")[0];%></h3>
        <div class="review_order--body"> 
            <p><span class="review--label">Product type: </span><%=custom.variant.title%></p>
        
            <% if (custom.customAttributes.length > 2) {%>
                <% let size = custom.customAttributes[0].value %>
                <% for (let i = 0; i < (custom.customAttributes.length - 1); i++) { %>
                    <% if (custom.customAttributes[i].value !== size) { %>
                       <% size = "different"; %>
                       <% break; %>
                    <% } %>
                <% } %>

                <% if (size === "different") { %>
                    <p><span class="review--label">Item 1 size: </span><%=custom.customAttributes[0].value%></p>
                    <% for (let i = 1; i < (custom.customAttributes.length - 1); i++) { %>
                        <p><span class="review--label">Item <%= i + 1 %> size: </span><%=custom.customAttributes[i].value%></p>
                    <% } %>
                <% } else { %>
                    <p><span class="review--label">Size: </span><%=custom.customAttributes[0].value%></p>
                <% } %>

            <% } else { %>
                <p><span class="review--label">Size: </span><%=custom.customAttributes[0].value%></p>
            <% } %>
            
            <p><span class="review--label">Quantity: </span><%=custom.quantity%></p>
            
            <p><span class="review--label">Message: </span><%=custom.customAttributes[custom.customAttributes.length - 1].value%></p>

            <div class="text-center">
                <a href="/jewellery/custom/<%=custom.id%>/edit"><button class="custom--form_submit">Edit</button></a>
            </div>
        </div>
</div>

