<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sacred Tribe Energy Healing</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- MAIN STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- JEWELLERY STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/jewellery.css">
    <!-- TREATMENT STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/treatment.css">
    <!-- BLOG STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/blog.css">
    <!-- AWARENESS/ABOUT STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/awareness-about.css">
    <!-- LINK STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/link.css">
    <!-- CONTACT STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/contact.css">

</head>

<body class="d-flex flex-column vh-100">

    <main>
        <!-- FLASH MESSAGES -->
        <%- include('../partials/flash')%>
        <!-- TO TOP BUTTON -->
        <%- include('../partials/toTop')%>
        <!-- SOCIAL BAR -->
        <%- include('../partials/socialBar')%>
        <!-- BODY CONTENT -->
        <%- body %>
    </main>
    <!-- FOOTER -->
    <%- include('../partials/footer')%>
    
    <!-- POPPER.JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <!-- BOOTSTRAP -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
    <!-- MAIN SCRIPT -->
    <script src='../javascripts/main.js'></script>
    <!-- JEWELLERY SCRIPT -->
    <script src='../javascripts/jewellery.js'></script>
    <!-- CONTACT FORM SCRIPT -->
    <script src='../javascripts/contactForm.js'></script>

</body>

</html>