<% layout('layouts/boilerplate')%>

<%- include('../../partials/navbarBlack')%>

<div class="links_wrapper">
    <div class="links_header_div">
        <h1>Links</h1>
        <h3>Our favourite sites</h3>
    </div>

    <% if (currentUser) { %>
        <div class="link_add">
            <a href="/links/new">
                <button>Add a link</button>
            </a>
        </div>
    <% } %>

    <div class="links_grid_div">

        <% for (let link of links) { %>
            <div class="links_grid_item shadow">
                <div class="card border-light">
                    <% if(link.imagePos == 'top') { %>
                        <img class="img-fluid link_item--image image-top" alt="Link image" src="<%= link.image %>">
                    <% } else if(link.imagePos == 'center') { %>
                        <img class="img-fluid link_item--image" alt="Link image" src="<%= link.image %>">
                    <% } else if(link.imagePos == 'bottom') { %>
                        <img class="img-fluid link_item--image image-bottom" alt="Link image" src="<%= link.image %>">
                    <% } %>
                        <div class="card-body">
                            <h5 class="card-title link_item--title"><%= link.title %></h5>
                            <p class="card-text link_item--text"><%= link.text %></p>
                            <a class="link_item--button" href="<%= link.link %>">
                                <button>Visit</button>
                            </a>
                        </div>

                        <%  if(currentUser && link.author.equals(currentUser._id))  {%>
                            <div class="link_edit_delete">
                                <a class="btn btn-info" href="/links/<%=link._id%>/edit">Edit</a>
                                <form class="d-inline" action="/links/<%=link._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        <% } %>
                </div>
            </div>
        <% } %>

    </div>

</div>
