<!-- Include boilerplate -->
<% layout('layouts/boilerplate')%>
<!-- Include the navbar partial -->
<%- include('../../partials/navbarBlack')%>
<!-- Include the side navbar partial -->
<%- include('../../partials/sideNavbarBlack')%>


<div class="navbar_top_padding">

<div class="blog_index--header">
    <h1>Blogs</h1>
</div>

<% if (currentUser) { %>
<div class="blog_index_add">
    <a href="/blogs/new">
        <button>Add a blog</button>
    </a>
</div>
<% } %>

<div class="blog_index_wrapper">

    <div class="blog_index_grid">

        <% for (let blog of blogs){ %>
        <div class="blog_index_grid--item shadow">
            <div class="card border-light">
                <img class="img-fluid blog_item--image" alt="Blog image" src="<%=blog.image%>">
                    <div class="card-body">
                        <h5 class="card-title blog_item--title"><%= blog.title %></h5>
                        <p class="card-text blog_item--text"><%= blog.header %></p>
                        <a class="blog_item--button" href="/blogs/<%=blog._id%>">
                            <button class="blog-button">Read more</button>
                        </a>
                    </div>
            </div>
        </div>
        <% } %>
                
    </div>

</div> <!-- END OF WRAPPER -->
</div>
