<% layout('layouts/boilerplate')%>

<div class="progress"></div>

<%- include('../../partials/navbarBlack')%>

<div class="back_to_blogs">
    <a href="/blogs"><i class="fas fa-arrow-left"></i> Back to blogs</a>
</div>

<div class="blog_show_wrapper shadow">

    <%  if(currentUser && blog.author.equals(currentUser._id))  {%>
        <div class="blog_edit_delete">
            <a class="btn btn-info" href="/blogs/<%=blog._id%>/edit">Edit</a>
            <form class="d-inline" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    <% } %>

    <div class="blog_title_div">
        <h1><%= blog.title %></h1>
    </div>

    <div class="blog_img_div">
        <img class="shadow" src="<%= blog.image%>" alt="Blog image">
    </div>

    <div class="blog_body_div">
        <% 
        let body = blog.text; 
        body = body.replace(/%B%/g, "<b>"); 
        body = body.replace(/%XB%/g, "</b>"); 
        body = body.replace(/%U%/g, "<u>"); 
        body = body.replace(/%XU%/g, "</u>"); 
        body = body.replace(/%I%/g, "<i>"); 
        body = body.replace(/%XI%/g, "</i>");
        body = body.replace(/%H%/g, "<h4>");
        body = body.replace(/%XH%/g, "</h4>");
        body = body.replace(/%LIST%/g, "<ul>");
        body = body.replace(/%XLIST%/g, "</ul>"); 
        body = body.replace(/%BULLET%/g, "<li>"); 
        body = body.replace(/%XBULLET%/g, "</li>"); 
        %>
        <p><%- body %></p>
    </div>

</div> <!-- END OF WRAPPER -->

