<% layout('layouts/boilerplate')%>

<!-- HERO DIV -->

<div id="jewellery__hero_div">
    
    <div class="hero_header">
        
        <%- include('../partials/navbarWhite')%>
        
        <%- include('../partials/sideNavbarWhite')%>

        <div class="navbar_top_padding">

        <div class="indian_woman--img-overlay">

            <div class="hero_header-content">

                <div class="hero_header--icon">
                    <img src="/assets/images/logo/white-feather.svg" alt="White Feather Jewellery logo">
                </div>
    
                <div class="hero_header--text">
                   <p>Energy Attuned Unique Handmade Jewellery</p>
                </div>
    
            </div>

        </div>
        </div>

    </div>

    <div class="hero_infobar">

        <div class="hero_infobar--content">

            <div class="hero_infobar--text">
                <p>Click to view the buying guide</p>
            </div>

            <div class="hero_infobar--grid hide">

                <div class="hero_infobar--grid-item hero_infobar--grid-item-1">

                    <div class="hero_infobar--grid-item-icon">
                        <img class="grid_item--icon" src="/assets/images/icons/person.svg" alt="Person icon">
                    </div>

                    <div class="hero_infobar--grid-item-text hero_infobar--grid-item-text-1">
                        <p>Choose by the jewellery you are drawn too (for the energy imprinted is directly speaking to your heart and bypasses the limitations of the mind) as it holds the energy of what you require to assist you moving forward - plus the energy of the physical jewellery itself.</p>
                    </div>

                </div>

                <div class="hero_infobar--grid-item hero_infobar--grid-item-2">

                    <div class="hero_infobar--grid-item-icon">
                        <img class="grid_item--icon" src="/assets/images/icons/gift.svg" alt="Gift icon">
                    </div>

                    <div class="hero_infobar--grid-item-text hero_infobar--grid-item-text-2">
                        <p>When choosing as a gift for someone else, please hold them in your attention first - either by thinking of them or looking at a picture of them or just by stating the name of the person that the gift you are choosing is for. Then choose that which you are drawn to for them.</p>
                    </div>

                </div>

            </div>

            <div class="hero_infobar--button">
                <button class="buying_guide-button">Read More</button>
            </div>
            
        </div>
        
    </div>

    <div class="hero_grid">

        <div class="hero_grid--item hero_grid--item-1">

                <div class="overlay"></div>

                <div class="hero_grid--item-content hero_grid--item-content-1">

                    <div class="hero_grid--item-icon circle-icon">
                        <img src="/assets/images/icons/simple-circle.svg" alt="Circle icon">
                    </div>

                    <div class="hero_grid--item-text">
                        <p>Unique Pieces</p>
                    </div>

                </div>

        </div>

        <div class="hero_grid--item hero_grid--item-2">

            <div class="overlay"></div>
            
            <div class="hero_grid--item-content hero_grid--item-content-2">
                
                    <div class="hero_grid--item-icon recycle-icon">
                        <img src="/assets/images/icons/recycle.svg" alt="Recycle icon">
                    </div>
                    
                    <div class="hero_grid--item-text">
                        <p>Made with 30% <br> reclaimed materials</p>
                    </div>
                    
                </div>

        </div>

        <div class="hero_grid--item hero_grid--item-3">

            <div class="overlay"></div>

            <div class="hero_grid--item-content hero_grid--item-content-3">

                <div class="hero_grid--item-icon shipping-icon">
                    <img src="/assets/images/icons/local-shipping.svg" alt="Shipping icon">
                </div>

                <div class="hero_grid--item-text">
                    <p>Free Shipping</p>
                </div>

            </div>

        </div>

    </div>

    <div class="hero_grid_mobile">

        <div class="hero_grid_mobile--item hero_grid_mobile--item-1">

                    <div class="hero_grid_mobile--item-icon mobile--circle-icon">
                        <img src="/assets/images/icons/simple-circle-purple.svg" alt="Circle icon">
                    </div>

                    <div class="hero_grid_mobile--item-text">
                        <p>Unique Pieces</p>
                    </div>

        </div>

        <div class="hero_grid_mobile--item hero_grid_mobile--item-2">
                
                    <div class="hero_grid_mobile--item-icon mobile--recycle-icon">
                        <img src="/assets/images/icons/recycle-purple.svg" alt="Recycle icon">
                    </div>
                    
                    <div class="hero_grid_mobile--item-text">
                        <p>Made with 30% <br> reclaimed materials</p>
                    </div>

        </div>

        <div class="hero_grid_mobile--item hero_grid_mobile--item-3">

                <div class="hero_grid_mobile--item-icon mobile--shipping-icon">
                    <img src="/assets/images/icons/local-shipping-purple.svg" alt="Shipping icon">
                </div>

                <div class="hero_grid_mobile--item-text">
                    <p>Free Shipping</p>
                </div>

        </div>

    </div>

</div>

<!-- Product container with offset for collection links below -->
<div id="product_container"></div>

<div class="main_body_container">

    <!-- JEWELLERY COLLECTION TITLE -->
    <div class="collection_div">
        <div class="jewellery_collection_title">
            <% if (type === "all-products") { %>
                <h2>Featured Jewellery</h2>
            <% } else if (type === "bracelet-earring") { %>
                <h2>Bracelet & Earring Sets</h2>
            <% } else if (type === "necklace-earring") { %>
                <h2>Necklace & Earring Sets</h2>
            <% } else if (type === "bracelet-necklace-earring") { %>
                <h2>Bracelet, Necklace & Earring Sets</h2>
            <% } %>
        </div>

        <div class="jewellery_collection_selection">
            <ul class="collection_list">
                <li class="collection_selection <%= type === 'all-products' ? 'active' : ''%>"><a href="/jewellery#product_container">All products</a></li>
                <li class="collection_selection <%= type === 'bracelet-earring' ? 'active' : ''%>"><a href="/jewellery/collections/bracelet-earring#product_container">Bracelet & Earring sets</a></li>
                <li class="collection_selection <%= type === 'necklace-earring' ? 'active' : ''%>"><a href="/jewellery/collections/necklace-earring#product_container">Necklace & Earring sets</a></li>
                <li class="collection_selection <%= type === 'bracelet-necklace-earring' ? 'active' : ''%>"><a href="/jewellery/collections/bracelet-necklace-earring#product_container">Bracelet, Necklace & Earring sets</a></li>
            </ul>
        </div>
    </div>


    
    <!-- JEWELLERY CONTENT DIV -->
    
    <div class="jewellery_content_div">

        <div class="jewellery_item_div">
            <% products.forEach((product) => { %>
                <a href="/jewellery/show/<%=product.id%>">
                    <div class="jewellery_item shadow">
                        <div class="card border-light">
                            <img class="card-img-top jewellery_item--image" src="<%=product.images[0].src%>" alt="Jewellery image">
                            <div class="card-body">
                                <h5 class="card-title jewellery_item--title"><%=product.title%></h5>
                                <p class="card-text jewellery_item--text"><%= product.productType %> <br> <span class="text-muted jewellery_item--price">€<%=product.variants[0].price%></span></p>
                            </div>
                        </div>
                    </div>  
                </a>
            <% }); %>
        </div>
        
        <!-- TREATMENTS LINK -->
        
        <div class="treatments_link">
        
            <div class="treatments_text">
                <div class="treatments_text--header">
                    <h4>Energy Treatments</h4>
                </div>
                <div class="treatments_text--body">
                    <p>The euphoria experienced post-treatment is the perfect frequency for launching into the life you desire...</p>
                </div>
                <div class="treatments_text--button">
                    <form action="/treatments">
                        <button>Read More</button>
                    </form>
                </div>
            </div>
        
        </div>
        
        <!-- AWARENESS LINK -->
        
        <div class="awareness_link">
        
            <div class="awareness_text">
                <div class="awareness_text--header">
                    <h4>Awareness</h4>
                </div>
                <div class="awareness_text--body">
                    <p>We the peoples of this Earth are known among the Tribes of the skies as the 'Chosen people' as the universal laws of this planet are based on 'Freewill' the Right to Choose.</p>
                </div>
                <div class="awareness_text--button">
                    <form action="/awareness">
                        <button>Read More</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

