<% layout('layouts/boilerplate')%>

<%- include('../partials/navbarBlack')%>

<%- include('../partials/sideNavbarBlack')%>

<div class="navbar_top_padding">

<!-- CONTENT WRAPPER FOR MARGIN -->
<div class="jewellery_show--wrapper">

<!-- BACK TO ALL JEWELLERY -->

<div class="back_to_jewellery">
    <a href="/jewellery"><i class="fas fa-arrow-left"></i> Back to jewellery</a>
</div>

<!-- JEWELLERY CONTENT -->

<div class="jewellery_show_content">

    <!-- <div class="product-component" id="<%=product.id%>">

    </div> -->

 <div class="jewellery_content_main">

        <!-- Gris section 1 -->

        <div class="jewellery_content_main--section-1">
            <!-- Swiper JS with photos on the side -->
            <img class="thumb_image thumb-1" src="<%=product.images[1].src%>" alt="jewellery image">
            <img class="thumb_image thumb-2" src="<%=product.images[2].src%>" alt="jewellery image">
            <img class="thumb_image thumb-3" src="<%=product.images[3].src%>" alt="jewellery image">
            <div class="share_item">
                <img class="share_item--icon" src="../../../assets/images/icons/share.svg" alt="Share icon">
                <p class="share_item--text">Share</p>
            </div>
            <img class="main_image" src="<%=product.images[0].src%>" alt="jewellery image">
        </div> 

        <!-- Grid section 2 -->

        <div class="jewellery_content_main--section-2">
            <h1 class="jewellery_title"><%=product.title%></h1>
            <p class="jewellery_price">€<%=product.variants[0].price%> <span class="delivery_included">Delivery included</span></p>
            <p class="jewellery_stock">Unique item! Only one in stock</p>
            <form action="/jewellery/add-to-cart/<%=product.id%>" method="POST" class="jewellery_buy_button">
                <button class="buy_button">ADD TO BAG</button>
            </form>

            <div class="jewellery_description">
                <h4 class="jewellery_description--header">Energy attuned handmade designer jewellery</h4>
                <p class="jewellery_description--body">
                    <%-description%>
                </p>
            </div>
        </div>
    </div> 

    <!-- WHITE FEATHER JEWELLERY --> 

    <div class="white_feather_bio">
        <div class="white_feather_bio--header">
            <p>White Feather Jewellery Process</p>
        </div>
        <div class="white_feather_bio--body">
            <div class="white_feather_bio--text">
                <p>
                    Sacred space is created and held for the duration of the creative process, intent and focus is maintained, acknowledging and strengthening the key holistic words in relation to the crystals, gemstones and the colours and textures of the spacers utilized. 
                </p>
                <p>
                    When the set is complete, energy is channelled through me into the set and is absorbed into the recipient’s energy field when worn. To assist in the desires and/or challenges being experienced by the individual at this time.
                </p>
                <p>
                    White Feather is the tribal name given to me by the Sacred Tribe so I have chosen White Feather Jewellery as the name for this collaboration between my spirit team and I in the creating for you jewellery that is not only beautiful, unique and handmade but also energy attuned. <br>
                </p>

            </div>
            
            <div class="white_feather_bio--icon">
                <img src="../../../assets/images/logo/white-feather.svg" alt="White Feather Jewellery icon">
            </div>

        </div>
    </div>

    <!-- MATERIALS AND SYMBOLISM -->

    <div class="materials_grid">

        <% if (Object.keys(materials).length > 0) { %>

        <div class="materials_grid--header">
            <p>Materials and Symbolism</p>
        </div>

        <div class="materials_grid--body">

            <% for (let key of Object.keys(materials)) { %>
                <div class="materials_grid--item">
                    <img class="materials_grid--icon" src="<%=materials[key].image%>" alt="Materials used thumbnail">
                    <div class="materials_grid--text">
                        <p class="materials_grid--text-header"><%=materials[key].title%></p>
                        <p class="materials_grid--text-body"><%=materials[key].text%></p>
                    </div>
                </div>
            <% } %>

        </div>
        <% } %>
    </div>

</div>

<!-- SIMILAR ITEMS -->

<div class="similar_items">
    <% if (similarItems.length > 0) { %>

    <div class="similar_items-header">
        <p>View similar products</p>
    </div>

    <div class="similar_items--grid">
        <!-- MAKE RANDOM LATER AND MAKE SURE THAT THE SHOW ITEM IS NOT HERE-->
        <% let length = similarItems.length >= 6 ? 6 : similarItems.length; %>
        <% for (let i = 0; i < length; i++) { %>
        <a href="/jewellery/show/<%=similarItems[i].id%>">
            <div class="jewellery_item shadow">
                <div class="card border-light">
                    <img class="card-img-top jewellery_item--image" src="<%=similarItems[i].images[0].src%>" alt="Jewellery image">
                    <div class="card-body">
                        <h5 class="card-title jewellery_item--title"><%=similarItems[i].title%></h5>
                        <p class="text-muted jewellery_item--price">€<%=similarItems[i].variants[0].price%></p>
                    </div>
                </div>
            </div>
        </a>
        <% } %>
    </div>
    <% } %>
</div>

</div> <!--  End of content wrapper -->
</div>  